<!-- <br />
<br /> -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-50">
          <li class="breadcrumb-item">
            <a [routerLink]="'/home/Products'">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="'/home/Profile/'">Profile</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row gutters-sm">
    <div class="col col-md-4 col-lg-4 col-sm-auto">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <div *ngIf="model.picture == ''">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
            </div>
            <div *ngIf="model.picture !== ''">
              <img
                src="{{ model.picture }}"
                alt="Admin"
                class="rounded-circle"
                width="150"
              />
            </div>

            <div class="mt-5">
              <h3 class="text__info--accent">
                {{ model.nombre }}&nbsp;{{ model.apellido }}
              </h3>
              <p class="text__description--accent">Cliente</p>
              <p class="text__description--accent">
                Fecha de creacion: {{ model.creacion | date: "medium" }}
              </p>
              <p style="margin-top: -10px" class="text__description--accent">
                Fecha modificacion: {{ model.modificacion | date: "medium" }}
              </p>
              <button
                class="button__flatter--accent"
                (click)="disabled = false"
              >
                Editar Perfil
              </button>
              <button class="button__linked--warm" (click)="deleteUser()">
                Eliminar Perfil
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card text-center">
          <div class="card-header">
            <h6 class="d-flex align-items-center mb-3">
              <i class="material-icons mr-2">payments</i>Formas de pago
            </h6>
            <ul
              class="nav nav-tabs card-header-tabs"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  style="color: black"
                  id="pills-home-tab"
                  data-toggle="pill"
                  href="#pills-home"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                  >Forma 1</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: black"
                  id="pills-profile-tab"
                  data-toggle="pill"
                  href="#pills-profile"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                  >Forma 2</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: black"
                  id="pills-contact-tab"
                  data-toggle="pill"
                  href="#pills-contact"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                  >+</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <div class="card-body">
                <img src="../../../assets/image/visa.jpg" alt="product_photo" />
                <p style="margin-top: 10px" class="card-text">Visa **** 1234</p>
                <div class="btn-group" role="group">
                  <button class="button__flatter--accent">Eliminar</button>
                  <button class="button__flatter--primary">Modificar</button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <div class="card-body">
                <img src="../../../assets/image/visa.jpg" alt="product_photo" />
                <p style="margin-top: 10px" class="card-text">Visa **** 1234</p>
                <div class="btn-group" role="group">
                  <button class="button__flatter--accent">Eliminar</button>
                  <button class="button__flatter--primary">Modificar</button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-contact"
              role="tabpanel"
              aria-labelledby="pills-contact-tab"
            >
              <div class="card-body">
                <button class="button__flatter--accent">
                  + Agregar Forma de Pago
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-8 col-lg-8 col-sm-auto">
      <div class="card mb-3">
        <div class="card-body">
          <h6 class="d-flex align-items-center mb-3">
            <i class="material-icons mr-2">article</i>Información General
          </h6>
          <div class="row" style="margin-top: 30px">
            <div class="col-sm-2"><h6 class="mb-0">Nombre</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.nombre"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Apellidos</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.apellido"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2">
              <h6 class="mb-0">Correo electrónico</h6>
            </div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.correo"
              disabled
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Usuario</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.usuario"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Teléfono</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.telefono"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Edad</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.edad"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Dpi</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.dpi"
              [disabled]="disabled"
            />
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-2"><h6 class="mb-0">Nit</h6></div>
            <input
              type="text"
              class="col-sm-10 text-secondary"
              [(ngModel)]="model.nit"
              [disabled]="disabled"
            />
          </div>
          <div class="row">
            <button
              class="button__flatter--accent"
              *ngIf="!disabled"
              (click)="updateUser()"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
      <div class="row gutters-sm" *ngIf="!disabled">
        <div class="col-sm-12 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3">
                <i class="material-icons mr-2">home</i>Imagen de Perfil
              </h6>
              <div class="row" style="margin-top: 5px"></div>
              <hr />
              <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
                <div class="form-group">
                  <div class="contenedor">
                    <div class="contenedor_formulario">
                      <p class="download" *ngIf="finalizado">
                        URL de descarga:
                        <a href="{{ URLPublica }}">Descargar</a>
                      </p>
                      <form [formGroup]="archivoForm">
                        <div class="file has-name is-boxed">
                          <label for="image_uploads"
                            >Choose images to upload (PNG, JPG)</label
                          >
                          <input
                            class="file-input"
                            type="file"
                            id="image_uploads"
                            name="image_uploads"
                            accept=".jpg, .jpeg, .png"
                            formControlName="archivo"
                            (change)="cambioArchivo($event)"
                          />
                          <!--<label class="file-label">
                            <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                          </label>-->
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <span class="file-name">
                    {{ mensajeArchivo }}
                  </span>
                </div>
                <div class="form-group">
                  <span>
                    Progreso &nbsp; <strong>{{ porcentaje }}%</strong>
                  </span>
                  <progress
                    *ngIf="porcentaje >= 0 && porcentaje <= 100"
                    class="progress is-large is-success"
                    value="{{ porcentaje }}"
                    max="100"
                  >
                    {{ porcentaje }}%
                  </progress>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    *ngIf="!disabled"
                  >
                    <i class="fas fa-plus">Subir Foto de Perfil</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row gutters-sm">
        <div class="col-sm-12 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3">
                <i class="material-icons mr-2">home</i>Direcciones
              </h6>
              <div class="row" style="margin-top: 5px"></div>
              <hr />
              <div
                *ngFor="let dir of model.direccion; let i = index"
                class="row"
              >
                <div class="col-sm-7 text-secondary">{{ dir }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
