<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-50">
          <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Carrito</li>
        </ol>
      </nav>
    </div>
  </div>
  <h2 class="text__info--primary">Shopping cart</h2>
  <div class="list__container">
    <table class="table">
      <tr class="header">
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
      </tr>
      <tr class="body" *ngFor="let cart of listCart; let i = index">
        <td>
          <img
            src="{{ cart.photo }}"
            alt="{{ cart.name }}"
            srcset="{{ cart.photo }}"
          />
        </td>
        <td>{{ cart.name }}</td>
        <td><span>Q&nbsp;</span> {{ cart.price }}</td>
        <td>
          {{ cart.quantity }}
          <button class="button__linked--accent" (click)="decrement(cart, i)">
            <span
              class="iconify"
              data-inline="false"
              data-icon="bi:cart-dash"
            ></span>
          </button>
          <button class="button__linked--accent" (click)="increment(cart, i)">
            <span
              class="iconify"
              data-inline="false"
              data-icon="bi:cart-plus"
            ></span>
          </button>
        </td>
        <td>
          <button class="button__linked--warm" (click)="remove(cart, i)">
            <span
              class="iconify"
              data-inline="false"
              data-icon="bi:cart-x"
            ></span>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <button
    class="button__fab--primary"
    (click)="buy()"
    [disabled]="cartsEmpty()"
  >
    <span class="iconify" data-inline="false" data-icon="bi:cart-dash"></span>
  </button>
</div>
