.button__fab--primary {
  position: fixed;
}

.button__fab--primary::before {
  content: "Proceder a la compra";
  position: absolute;
  width: 15rem;
  right: 3rem;
  color: var(--secondary-text);
}
