<div class="container">
  <div class="row">
    <div class="grid__container">
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Ordenes Completadas</h2>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.ordenes_completadas }}</h1>
        </div>
      </div>
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Total Vendido</h2>
          <h3 class="text__descripcion--secondary card-sibtitle"></h3>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.money_in_da_bank | currency:'Q':'symbol':'0.0' }}</h1>
        </div>
      </div>
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Total Productos Vendidos</h2>
          <h3 class="text__descripcion--secondary card-sibtitle"></h3>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.productos_vendidos }}</h1>
        </div>
      </div>
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Productos en Stock</h2>
          <h3 class="text__descripcion--secondary card-sibtitle"></h3>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.productos_in_stock }}</h1>
        </div>
      </div>
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Ordenes Canceladas</h2>
          <h3 class="text__descripcion--secondary card-sibtitle"></h3>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.ordenes_cancelads }}</h1>
        </div>
      </div>
      <div class="card grid__item">
        <div class="card-body">
          <h2 class="text__info--accent card-title">Producto sin inventario</h2>
          <h3 class="text__descripcion--secondary card-sibtitle"></h3>
          <!-- DETALLE DEL INFORME -->
          <h1 class="text-center badge badge-light">{{this.producto_sin_inventario }}</h1>
          <h1 class="text-center badge badge-light">{{this.producto_inventario }}</h1>
        </div>
      </div>
    </div>
  </div>
  <br/>
 <div class="row">
   <div class="col col-lg-6 col-sm-12 col-md-6">
     <div class="card">
       <div class="card-body">
         <h2 class="text__info--accent card-title">Productos vendidos por Categoria</h2>
         <app-categoria-producto></app-categoria-producto>
       </div>
     </div>
   </div>
   <div class="col col-lg-6 col-sm-12 col-md-6">
     <div class="card">
       <div class="card-body">
         <h2 class="text__info--accent card-title">Ventas de los ultimos 6 meses</h2>
         <app-annual-sales-chart></app-annual-sales-chart>
       </div>
     </div>
   </div>
 </div>
  <br/>
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th>No. Orden</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Productos</th>
            <th colspan="2">Total</th>
            <th>Metodo de Pago</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let orden of ordenes">
            <td>{{orden.No_Orden}}</td>
            <td>{{orden.Fecha | date: "medium"}}</td>
            <td>{{orden.cliente}}</td>
            <td *ngIf="orden.status=='Completado'"><span class="badge badge-success"> Completado </span></td>
            <td *ngIf="orden.status=='Procesandose'"><span class="badge badge-warning"> En Proceso </span></td>
            <td *ngIf="orden.status=='Cancelado'"><span class="badge badge-danger">Cancelado</span></td>
            <td>{{orden.Productos}}</td>
            <td><strong>Q. </strong></td>
            <td>{{orden.Total}}</td>
            <td>{{orden.metodo}}</td>
          </tr>
          </tbody>
        </table>
      </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>
