.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.value-text {
  margin: 0;
}

.title-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: grey;
}

.avatar-icon {
  margin: 15px;
  transform: scale(2);
}

.duration {
  color: grey;
}

.mat-card
{
  elevation: above;
}

.difference-text {
  text-align: center;
  margin-top: 10px ;
}

.card-icon {
  margin-right: 15px;
}

.card-header {
  justify-content: center;
  background: white;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
