<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-50">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Mis Facturas
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-5 col-md-5 col-sm-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">Mis Facturas</h3>
            <div class="table-responsive">
              <div>
                <br />
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>No Orden.</th>
                      <th>Fecha</th>
                      <th>Cantidad de Productos</th>
                      <th>Nit</th>
                      <th colspan="2"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let fact of listaFacturas">
                      <td>{{ fact.no_orden }}</td>
                      <td>{{ fact.fecha | date: "short" }}</td>
                      <td>{{ fact.products.length }}</td>
                      <td>{{ fact.nit }}</td>
                      <td>
                        <span
                          *ngIf="fact.status == 'Completado'"
                          class="badge badge-success"
                          >{{ fact.status }}</span
                        >
                        <span
                          *ngIf="fact.status == 'Procesandose'"
                          class="badge badge-warning"
                          >{{ fact.status }}</span
                        >
                        <span
                          *ngIf="fact.status == 'Cancelado'"
                          class="badge badge-danger"
                          >{{ fact.status }}</span
                        >
                      </td>
                      <td>
                        <button
                          class="btn btn-secondary text-white"
                          (click)="ver(fact)"
                          style="background: #002d62; color: #ffffff"
                        >
                          Ver Factura
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-7 col-md-7 col-sm-auto">
        <!--
        <div class="card">
          <div class="card-body">
            <div #Factura>
              <div class="row"
                   style="background: #002D62; font-size: 20px; color: #ffffff; align-items: center; height: 50px;">
                <div class="col col-lg-11 col-md-11 col-sm-11">
                  <strong> FACTURA </strong>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1">
                  <span class="badge badge-light"><strong>{{no_factura}}</strong></span>
                </div>
              </div>
              <br/>
              <div class="row"
                   style="background: #ffffff; color: #002D62;">
                <div class="col col-lg-2 col-sm-auto col-md-2">
                  <strong>Cliente: </strong>
                </div>
                <div class="col col-lg-10 col-sm-auto col-md-10">
                  <input name="cliente" placeholder="{{cliente}}" class="form-control" readonly>
                </div>
              </div>
              <br/>
              <div class="row"
                   style="background: #ffffff; color: #002D62;">
                <div class="col col-lg-2 col-sm-auto col-md-2">
                  <strong>Direccion: </strong>
                </div>
                <div class="col col-lg-10 col-sm-auto col-md-10">
                  <input name="direccion" placeholder="Guatemala" class="form-control" readonly>
                </div>
              </div>
              <br/>
              <div class="row"
                   style="background: #ffffff; color: #002D62;">
                <div class="col col-lg-2 col-sm-auto col-md-2">
                  <strong>Fecha: </strong>
                </div>
                <div class="col col-lg-10 col-sm-auto col-md-10">
                  <input name="fecha" placeholder="16 de Marzo de 2019" class="form-control" readonly>
                </div>
              </div>
              <br/>
              <div class="row"
                   style="background: #ffffff; color: #002D62;">
                <div class="col col-lg-2 col-sm-auto col-md-2">
                  <strong>Telefono: </strong>
                </div>
                <div class="col col-lg-4 col-sm-auto col-md-4">
                  <input name="telefono" placeholder="123456" class="form-control" readonly>
                </div>
                <div class="col col-lg-2 col-sm-auto col-md-2">
                  <strong>Nit: </strong>
                </div>
                <div class="col col-lg-4 col-sm-auto col-md-4">
                  <input name="nit" placeholder="123456" class="form-control" readonly>
                </div>
              </div>
              <br/>
              <div class="row"
                   style="background: #ffffff; color: #002D62;">
                <div class="col col-sm-auto col-md-auto col-lg-auto">
                  <strong>Detalles: </strong>
                </div>
                <div class="col col-sm-12 col-lg-12 col-md-12">
                  <div class="table-responsive-lg">
                    <table class="table table-bordered">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col" colspan="2">Total</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td scope="row">1</td>
                        <td>3GeJJYs8lgLP7VQth8PU</td>
                        <td>BlusaNaranja</td>
                        <td>25.50</td>
                        <td>2</td>
                        <td colspan="2">51</td>
                      </tr>
                      </tbody>
                      <tfoot>
                        <tr style="background: #ffffff; color: #002D62;">
                          <td colspan="5">
                            <strong>Total: </strong>
                          </td>
                          <td>
                            <strong>{{total}}</strong>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <form #invoiceForm="ngForm" style="background: #ffffff; color: #002d62">
          <div
            class="container-fluid pt-2 mb-5"
            style="background: #ffffff; color: #002d62"
          >
            <div class="row" style="background: #ffffff; color: #002d62">
              <div class="col col-md-12 col-lg-12 col-sm-12">
                <div
                  class="card border-secondary"
                  style="background: #ffffff; color: #002d62"
                >
                  <div class="card-body">
                    <h4
                      class="card-title"
                      style="
                        color: #002d62;
                        font-weight: bold;
                        background: #ffffff;
                      "
                    >
                      Informacion del Cliente
                    </h4>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label
                            for="cliente"
                            style="
                              color: #002d62;
                              font-weight: bold;
                              background: #ffffff;
                            "
                            >Cliente</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="cliente"
                            id="cliente"
                            [ngClass]="{
                              'is-invalid':
                                invoiceForm.submitted && cliente.invalid
                            }"
                            [(ngModel)]="invoice.cliente"
                            #cliente="ngModel"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label
                            for="direccion"
                            style="
                              color: #002d62;
                              font-weight: bold;
                              background: #ffffff;
                            "
                            >Direccion</label
                          >
                          <textarea
                            class="form-control"
                            name="direccion"
                            id="direccion"
                            row="3"
                            [ngClass]="{
                              'is-invalid':
                                invoiceForm.submitted && direccion.invalid
                            }"
                            [(ngModel)]="invoice.direccion"
                            #direccion="ngModel"
                            readonly
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label
                            for="nit"
                            style="
                              color: #002d62;
                              font-weight: bold;
                              background: #ffffff;
                            "
                            >Nit</label
                          >
                          <input
                            type="nit"
                            class="form-control"
                            name="nit"
                            id="nit"
                            [(ngModel)]="invoice.nit"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label
                            for="contactNo"
                            style="
                              color: #002d62;
                              font-weight: bold;
                              background: #ffffff;
                            "
                            >Telefono</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            name="contactNo"
                            id="contactNo"
                            [ngClass]="{
                              'is-invalid':
                                invoiceForm.submitted && ContactNo.invalid
                            }"
                            [(ngModel)]="invoice.telefono"
                            #ContactNo="ngModel"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-secondary mt-2">
                  <div class="card-body">
                    <h4
                      class="card-title d-flex justify-content-between"
                      style="
                        color: #002d62;
                        font-weight: bold;
                        background: #ffffff;
                      "
                    >
                      Detalles de la Orden
                    </h4>
                    <div class="row">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th
                                width="20%"
                                style="
                                  color: #002d62;
                                  font-weight: bold;
                                  background: #ffffff;
                                "
                              >
                                Codigo
                              </th>
                              <th
                                width="20%"
                                style="
                                  color: #002d62;
                                  font-weight: bold;
                                  background: #ffffff;
                                "
                              >
                                Producto
                              </th>
                              <th
                                width="20%"
                                style="
                                  color: #002d62;
                                  font-weight: bold;
                                  background: #ffffff;
                                "
                              >
                                Precio
                              </th>
                              <th
                                width="20%"
                                style="
                                  color: #002d62;
                                  font-weight: bold;
                                  background: #ffffff;
                                "
                              >
                                Cantidad
                              </th>
                              <th
                                width="20%"
                                style="
                                  color: #002d62;
                                  font-weight: bold;
                                  background: #ffffff;
                                "
                              >
                                Sub Total
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let product of invoice.products;
                                let i = index
                              "
                            >
                              <td scope="row">
                                {{ product.codigo || "" }}
                              </td>
                              <td>
                                {{ product.nombre || "" }}
                              </td>
                              <td>
                                {{ product.precio || "" }}
                              </td>
                              <td>
                                {{ product.cantidad || "" }}
                              </td>
                              <td>
                                {{ product.precio * product.cantidad || "" }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-secondary mt-1">
                  <div class="card-body">
                    <h4
                      class="card-title"
                      style="
                        color: #002d62;
                        font-weight: bold;
                        background: #ffffff;
                      "
                    >
                      Additional Details
                    </h4>
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        name="additionalDetails"
                        rows="3"
                        [(ngModel)]="invoice.additionalDetails"
                        readonly
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-lg-4 col-md-auto col-sm-auto">
                <button
                  type="button"
                  class="btn btn-lg btn-block"
                  style="background: #002d62; color: #ffffff"
                  (click)="invoiceForm.valid ? generatePDF('download') : ''"
                >
                  Download Invoice
                </button>
              </div>
              <div class="col col-lg-4 col-md-auto col-sm-auto">
                <button
                  type="button"
                  class="btn btn-lg btn-block"
                  style="background: #002d62; color: #ffffff"
                  (click)="invoiceForm.valid ? generatePDF('print') : ''"
                >
                  Print Invoice
                </button>
              </div>
              <div class="col col-lg-4 col-md-auto col-sm-auto">
                <button
                  type="submit"
                  class="btn btn-lg btn-block"
                  style="background: #002d62; color: #ffffff"
                  (click)="invoiceForm.valid ? generatePDF() : ''"
                >
                  Open Invoice
                </button>
              </div>
            </div>
          </div>
        </form>
        <!--<br/>
        <button  (click)="facturar()" class="btn btn-dark btn-block" mat-button><i class="fa fa-database"></i> Generar Factura</button>
        -->
      </div>
    </div>
  </div>
</div>
