<div class="container">
  <div class="container__bread">
    <!-- BREADCRUMB -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-50">
        <li class="breadcrumb-item">
          <a [routerLink]="'/home'">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Productos</li>
      </ol>
    </nav>
  </div>
  <div class="container__filter">
    <!-- DROPDOWN LIST -->
    <div class="dropdown">
      <button
        class="btn btn-outline-dark dropdown-toggle"
        type="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Categorías
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <button class="dropdown-item" (click)="listProducts('')">Todos</button>
        <button
          *ngFor="let category of categories"
          class="dropdown-item"
          (click)="listProducts(category.id)"
        >
          {{ category.nombre }}
        </button>
      </div>
    </div>
    <!-- INPUT SEARCH -->
    <div class="search">
      <input
        class="search__box"
        [ngClass]="hide ? '' : 'search__box--visible'"
        type="search"
        name="searchProduct"
        id="searchProduct"
        (keyup)="Buscar(busqueda)"
        #busqueda
      />
      <div class="button__linked--accent search__button" (click)="hideSearch()">
        <span
          class="iconify"
          data-inline="false"
          data-icon="bx:bx-search-alt"
        ></span>
      </div>
    </div>
    <!-- DISPLAY CHANGE -->
    <div class="view">
      <button class="button__linked--accent" (click)="list()">
        <span
          class="iconify"
          data-icon="bx:bx-list-ul"
          data-inline="false"
        ></span>
      </button>
      <button class="button__linked--accent" (click)="block()">
        <span
          class="iconify"
          data-icon="bx:bxs-grid"
          data-inline="false"
        ></span>
      </button>
    </div>
  </div>
  <div class="container__body">
    <!-- PRODUCTS -->
    <div class="store__container" [ngClass]="grid ? '' : 'store__list'">
      <div
        *ngFor="let product of products"
        class="store__item"
        [ngClass]="grid ? '' : 'item__list'"
      >
        <div class="item__image">
          <img src="{{ product.picture }}" class="card-img-top" />
        </div>
        <div class="item__footer">
          <div class="item__title">
            <p class="font-weight-bold">
              <a [routerLink]="[product.id]"> {{ product.nombre }}</a>
            </p>
            <p class="font-weight-bold">Q. {{ product.precio }}</p>
          </div>
          <div class="item__description">
            <p class="text__description--secondary">
              {{ product.descripcion }}
            </p>
            <p class="guarantee">
              <span>
                <img src="https://i.imgur.com/e9VnSng.png" width="20" />
              </span>
              2 Años de Garantía
            </p>
          </div>
        </div>
        <hr />
        <div class="item__action">
          <button class="btn btn-dark" (click)="addToCart(product)">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
