.container__filter {
  display: grid;
  grid-template-areas:
    "dropdown search"
    ". view";
  grid-gap: 1rem;
}

.dropdown {
  grid-area: dropdown;
  justify-self: stretch;
}

.search {
  grid-area: search;
  justify-self: end;
}

.view {
  grid-area: view;
  justify-self: end;
}

.example-header-image {
  background-size: cover;
}

.example-card {
  max-width: 400px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #000;
}

.nav-tabs > li > a {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 3px solid #000;
}

.navbar {
  border-bottom: 1px solid #00000012;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #ffffff !important;
}

.navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
}

.nav-tabs {
  border-bottom: none;
}

.card {
  margin-bottom: 5%;
}

.card-body {
  flex: 1 1 auto;
  padding: 10px;
}

.card-text {
  font-size: 13px;
}

.guarantee {
  color: #f6bf10;
  margin-left: 4px;
  font-weight: 700;
}

hr {
  margin: 1rem 0;
  color: #bfbebe;
}

.buttons button {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
}

.gallery img {
  height: 75vw;
  object-fit: cover;
}

.search__button {
  display: inline-block;
}

.search__box {
  max-width: 75px;
  display: none;
  padding: 0.3rem 1rem;
  line-height: 2;
  background: var(--input-background);
  border: 1px solid var(--accent-color) !important;
  border: none;
}

.search__box--visible {
  display: inline-block;
}

@media (min-width: 576px) {
  .gallery img {
    height: 35vw;
  }
  .search__box {
    max-width: 150px;
  }

  .container__filter {
    display: grid;
    grid-template-areas: "dropdown . . . search view";
  }
}

@media (min-width: 992px) {
  .gallery img {
    height: 18vw;
  }
}
