<div class="card">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <fieldset>
        <legend>Datos</legend>
        <input
          type="hidden"
          name="$key"
          #$key="ngModel"
          [(ngModel)]="productoService.productoSeleccionado.$key"
        />
        <div class="form-group">
          <label for="nombre" class="col-form-label col-form-label-sm"
            >Nombre</label
          >
          <input
            type="text"
            class="form-control"
            name="nombre"
            #nombre="ngModel"
            [(ngModel)]="productoService.productoSeleccionado.nombre"
            placeholder="Nombre"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="descripcion" class="col-form-label col-form-label-sm"
            >Descripcion</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcion"
            #descripcion="ngModel"
            [(ngModel)]="productoService.productoSeleccionado.descripcion"
            placeholder="Descripcion"
          />
        </div>
      </fieldset>
      <fieldset>
        <legend>Imagen</legend>
        <div class="form-group">
          <label for="image_uploads" class="col-form-label col-form-label-sm"
            >Imagen (PNG, JPG)</label
          >
          <form [formGroup]="archivoForm">
            <input
              class="file-input"
              type="file"
              id="image_uploads"
              name="image_uploads"
              accept=".jpg, .jpeg, .png"
              formControlName="archivo"
              (change)="cambioArchivo($event)"
            />
          </form>
          <small>{{ mensajeArchivo }}</small>
          <small *ngIf="finalizado">
            <span>URL de descarga:</span>
            <a href="{{ URLPublica }}">Descargar</a>
          </small>
          <div class="form-group">
            <span>
              Progreso &nbsp; <strong>{{ porcentaje }}%</strong>
            </span>
            <progress
              *ngIf="porcentaje >= 0 && porcentaje <= 100"
              class="progress is-large is-success"
              value="{{ porcentaje }}"
              max="100"
            >
              {{ porcentaje }}%
            </progress>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Detalle stock</legend>
        <div class="form-group">
          <label for="precio" class="col-form-label col-form-label-sm"
            >Precio</label
          >
          <input
            type="text"
            class="form-control"
            name="precio"
            #precio="ngModel"
            [(ngModel)]="productoService.productoSeleccionado.precio"
            placeholder="Precio"
          />
        </div>
        <div class="form-group">
          <label for="categoria" class="col-form-label col-form-label-sm"
            >Categoria</label
          >
          <select
            id="categoria"
            name="categoria"
            class="form-control"
            #categoria="ngModel"
            [(ngModel)]="productoService.productoSeleccionado.categoria"
          >
            <option *ngFor="let cat of this.categorias" [ngValue]="cat.id">
              {{ cat.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="inventario" class="col-form-label col-form-label-sm"
            >Stock</label
          >
          <input
            type="text"
            class="form-control"
            name="inventario"
            #inventario="ngModel"
            [(ngModel)]="productoService.productoSeleccionado.inventario"
            placeholder="Cantidad de producto"
          />
        </div>
      </fieldset>
      <fieldset>
        <legend>Detalles</legend>
        <div class="form-group">
          <mat-form-field>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="
                  let detail of this.productoService.productoSeleccionado
                    .detalles
                "
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(detail)"
              >
                {{ detail }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                type="text"
                class="form-control"
                name="detalles"
                #detalles="ngModel"
                [(ngModel)]="productoService.productoSeleccionado.detalles1"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </fieldset>
      <div class="form-group"></div>
      <button class="button__flatter--accent" type="submit">
        Añadir Producto
      </button>
      <button
        class="button__linked--warm"
        type="reset"
        (click)="resetear(productForm)"
      >
        Reset
      </button>
    </form>
  </div>
</div>
