<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-50">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
            <li class="breadcrumb-item">
              <a [routerLink]="'/home/Carrito/'">Carrito</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Orden de Pago
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12 col-sm-12 col-md-12">
        <mat-vertical-stepper [linear]="false" #stepper>
          <mat-step label="Detalles de la Orden" state="carrito">
            <div class="list__container">
              <div class="card border-secondary mt-2">
                <div class="card-body">
                  <h4
                    class="card-title d-flex justify-content-between"
                    style="
                      color: #002d62;
                      font-weight: bold;
                      background: #ffffff;
                    "
                  >
                    Detalles de la Orden
                  </h4>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th
                              width="20%"
                              style="
                                color: #002d62;
                                font-weight: bold;
                                background: #ffffff;
                              "
                            ></th>
                            <th
                              width="20%"
                              style="
                                color: #002d62;
                                font-weight: bold;
                                background: #ffffff;
                              "
                            >
                              Producto
                            </th>
                            <th
                              width="20%"
                              style="
                                color: #002d62;
                                font-weight: bold;
                                background: #ffffff;
                              "
                            >
                              Precio
                            </th>
                            <th
                              width="20%"
                              style="
                                color: #002d62;
                                font-weight: bold;
                                background: #ffffff;
                              "
                            >
                              Cantidad
                            </th>
                            <th
                              width="20%"
                              style="
                                color: #002d62;
                                font-weight: bold;
                                background: #ffffff;
                              "
                            >
                              Sub Total
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="body"
                            *ngFor="let product of this.listCart; let i = index"
                          >
                            <td scope="row">
                              <img
                                src="{{ product.photo }}"
                                alt="{{ product.name }}"
                                srcset="{{ product.photo }}"
                              />
                            </td>
                            <td>
                              {{ product.name || "" }}
                            </td>
                            <td>
                              {{ product.price || "" }}
                            </td>
                            <td>
                              {{ product.quantity || "" }}
                            </td>
                            <td>
                              {{ product.quantity * product.price || "" }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <strong>Total:</strong> &nbsp; &nbsp;
                  <mat-chip-list style="align-items: inherit">
                    <mat-chip color="primary" selected
                      >Q. &nbsp; {{ total }}</mat-chip
                    >
                  </mat-chip-list>
                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Informacion del Cliente" state="informacion">
            <form
              #invoiceForm="ngForm"
              style="background: #ffffff; color: #002d62"
            >
              <div
                class="card border-secondary"
                style="background: #ffffff; color: #002d62"
              >
                <div class="card-body">
                  <h4
                    class="card-title"
                    style="
                      color: #002d62;
                      font-weight: bold;
                      background: #ffffff;
                    "
                  >
                    Informacion del Cliente
                  </h4>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label
                          for="cliente"
                          style="
                            color: #002d62;
                            font-weight: bold;
                            background: #ffffff;
                          "
                          >Cliente</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="cliente"
                          id="cliente"
                          [(ngModel)]="model.nombre"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="direccion"
                          style="
                            color: #002d62;
                            font-weight: bold;
                            background: #ffffff;
                          "
                          >Direccion</label
                        >
                        <textarea
                          class="form-control"
                          name="direccion"
                          id="direccion"
                          row="3"
                          [(ngModel)]="model.direccion[0]"
                          readonly
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label
                          for="nit"
                          style="
                            color: #002d62;
                            font-weight: bold;
                            background: #ffffff;
                          "
                          >Nit</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="nit"
                          id="nit"
                          [(ngModel)]="model.nit"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label
                          for="contactNo"
                          style="
                            color: #002d62;
                            font-weight: bold;
                            background: #ffffff;
                          "
                          >Telefono</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="contactNo"
                          id="contactNo"
                          [(ngModel)]="model.telefono"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Metodo de Pago" state="payment">
            <div class="card border-secondary">
              <div class="stepper__item card-body">
                <h4
                  class="stepper__title card-title"
                  style="color: #002d62; font-weight: bold"
                >
                  Informacion del Cliente
                </h4>
                <div class="stepper__content">
                  <div class="stepper__form">
                    <div class="form-group">
                      <label
                        for="payment"
                        style="
                          color: #002d62;
                          font-weight: bold;
                          background: #ffffff;
                        "
                        >Meotodo de Pago</label
                      >
                      <select
                        name="payment"
                        id="payment"
                        class="form-control"
                        (change)="changePays(pays)"
                        #pays
                      >
                        <option value="1">En Efectivo</option>
                        <option value="2">Tarjeta de Debito/Credito</option>
                      </select>
                    </div>
                  </div>
                  <div class="stepper__content">
                    <div class="cash__container" *ngIf="payment == 1">
                      <p>Pago en efectivo</p>
                    </div>
                    <div class="credit__container" *ngIf="payment == 2">
                      <div class="credit">
                        <div #cardInfo></div>
                        <div class="error" *ngIf="cardError">
                          {{ cardError }}
                        </div>
                      </div>
                      <button class="button__flatter--accent" matStepperNext (click)="pagar()">
                        Pagar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="Generar()">
                Next
              </button>
            </div>
          </mat-step>
          <mat-step label="Finalizar Compra">
            <div
              class="card border-secondary"
              style="background: #ffffff; color: #002d62"
            >
              <div class="card-body">
                <h4
                  class="card-title"
                  style="color: #002d62; font-weight: bold; background: #ffffff"
                >
                  Facturacion
                </h4>
                <div class="row">
                  <div class="col col-lg-8 col-md-auto col-sm-auto">
                    <p>Gracias Hemos Generado tu Orden de Compra...</p>
                    <p>
                      Puedes visualizar tus Facturas en el siguiente enlace.
                    </p>
                  </div>
                  <div class="col col-lg-4 col-md-auto col-sm-auto">
                    <button
                      type="button"
                      class="btn btn-lg btn-block"
                      style="background: #002d62; color: #ffffff"
                      (click)="verFacturas()"
                    >
                      Ver Facturas
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>

          <!-- Icon overrides. -->
          <ng-template matStepperIcon="carrito">
            <mat-icon>check_circle</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="payment">
            <mat-icon>credit_card</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="informacion">
            <mat-icon>description</mat-icon>
          </ng-template>
        </mat-vertical-stepper>
      </div>
    </div>
  </div>
</div>
