.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.spacer {
  flex: 1 1 auto;
}

.credit__container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
