/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

mat-chip {
  max-width: 200px;
}
.img {
  max-width: 60%;
  height: auto;
}
.horizontal-mat-list-item {
  float: right;
  display: list-item;
}

a + a {
  margin-left: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

img {
  border-radius: 15px;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

h3 {
  padding-top: 15px;
}

line {
  border-top: 2px solid #fbb710;
  border-top-width: 5px;
  mso-border-top-width-alt: thin;
}

hr {
  color: #fbb710;
  background-color: #fbb710;
  height: 3px;
}
.main-content-wrapper
  .single-product-area
  .single_product_desc
  .product-meta-data
  .avaibility {
  margin-bottom: 0;
  font-size: 12px;
  color: #ffffff;
  line-height: 1;
}

svg {
  position: relative;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.main-content-wrapper .single-product-area .breadcrumb {
  background-color: transparent;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
.main-content-wrapper
  .single-product-area
  .single_product_thumb
  .carousel-item
  a {
  cursor: zoom-in;
}
.example-spacer {
  flex: 1 1 auto;
}
a {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #131212;
  font-weight: 400;
}

.w-100 {
  width: 100% !important;
}
.d-block {
  display: block !important;
}
img {
  height: auto;
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

select {
  text-align-last: right;
}
option {
  direction: rtl;
}
