<!-- Product Details Area Start -->
<br/>
<br/>
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-50">
            <li class="breadcrumb-item"><a [routerLink]="'/home'" >Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/home/Products/'">Productos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{nombre}}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div id="product_details_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a class="gallery_img" (click)="openLg(content)">
                  <img class="d-block w-100" src="{{picture}}" alt="{{nombre}}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <div class="header__title">
              <h3 class="text__descripcion--accent">Q. {{precio}}</h3>
              <h1 class="text__info--primary">{{nombre}}</h1>
            </div>
            <!-- Ratings & Review -->
            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
              <div class="ratings">
                <mat-icon style="color: #fbb710">grade</mat-icon>
                <mat-icon style="color: #fbb710">grade</mat-icon>
                <mat-icon style="color: #fbb710">grade</mat-icon>
                <mat-icon style="color: #fbb710">grade</mat-icon>
                <mat-icon style="color: #fbb710">grade</mat-icon>
              </div>
              <div class="review">
                <p class="avaibility"><a class="badge" [ngClass]="{'badge-success': cantidad>0,'badge-danger': cantidad<=0}"><strong>{{disponibilidad}}</strong></a></p>
              </div>
            </div>
            <!-- Avaiable -->
            <!--
              <p class="avaibility"><a class="badge" [ngClass]="{'badge-success': cantidad>0,'badge-danger': cantidad<=0}"><strong>{{disponibilidad}}</strong></a></p>
            -->
          </div>
          <div class="short_overview my-5">
            <a *ngFor="let detalle of detalles" class="badge badge-warning">{{detalle}}&nbsp;</a>
            <br>
            <p>
              {{descripcion}}
            </p>
          <!-- Add to Cart Form -->
          <div class="product__action">
            <div class="input__group">
              <p><strong>Cantidad:</strong>&nbsp;</p>
              <select name="select" id="select" (change)="add(select)" #select>
                <option *ngFor="let value of cantidades" value="{{value}}">{{value}}</option>
              </select>
            </div>
            <button class="button__flatter--accent" (click) = "addToCart()">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Details Area End -->
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a class="gallery_img" href="{{picture}}">
          <img class="d-block w-100" src="{{picture}}" alt="First slide">
        </a>
      </div>
    </div>
  </div>
</ng-template>

