<img
  src="https://firebasestorage.googleapis.com/v0/b/analisis1-usac.appspot.com/o/Iconos%2Flogo_darker_2.svg?alt=media&token=479ecdf2-9a00-4f29-ab9f-60fbfa1f6ab0"
  alt="logo_darker"
  class="drawer__logo"
/>
<ul class="drawer__menu">
  <li class="menu__item" *ngFor="let menu of menuList">
    <button
      (click)="drawerEmit(menu.path)"
      class="button__linked--primary menu__button"
    >
      {{ menu.value }}
    </button>
  </li>
</ul>
