/* TIPOGRAFIA */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

/* VARIABLES */
:root {
  --accent-color: #fbb710;
  --primary-text: #242424;
  --secondary-text: #6d6d6d;
  --backgraund: #fff;
  --input-background: #f5f7fa;
  --warm-color: crimson;

  --size-icon: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background: var(--backgraund);
  color: var(--primary-text);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
}

.body {
  padding-top: 46.19px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* ICONOS */
.iconify {
  font-size: var(--size-icon);
  /* color: var(--accent-color); */
  margin: 0.3rem;
}

/* TEXT STYLE */
.text__descripcion--primary {
  color: var(--primary-text);
  padding-bottom: 0;
  margin: 0;
}

.text__descripcion--accent {
  color: var(--accent-color);
  padding-bottom: 0;
  margin: 0;
}

.text__descripcion--secondary {
  color: var(--secondary-text);
  padding-bottom: 0;
  margin: 0;
}

.text__info--primary {
  color: var(--primary-text);
  padding-bottom: 0;
  margin: 0;
}

.text__info--accent {
  color: var(--accent-color);
  padding-bottom: 0;
  margin: 0;
}

/* BUTTONS */
[class^="button__"] {
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button__flatter--primary {
  background: var(--primary-text);
  color: var(--backgraund);
}

.button__flatter--accent {
  background: var(--accent-color);
  color: var(--primary-text);
}

.button__linked--primary {
  background: var(--backgraund);
  color: var(--primary-text);
}

.button__linked--accent {
  background: var(--backgraund);
  color: var(--accent-color);
}

.button__linked--warm {
  background-color: var(--background);
  color: var(--warm-color);
}

.button__linked--primary:hover {
  color: var(--accent-color);
}

.button__fab--primary {
  padding: 0.5rem;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
}

.button__fab--primary .iconify {
  color: var(--primary-text);
}

.container {
  margin-top: 60px;
}

/* FORMS */
.form__container {
  width: 80vw;
  margin: auto;
  padding: 1rem;
}

.form__container button {
  width: 100%;
}

/* INPUT */
.input__group {
  background: var(--input-background);
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.input__group > p {
  padding: 0.5rem;
}

.input__group > input,
.input__group > select {
  border: none;
  background: var(--input-background);
  padding: 0.5rem;
  color: var(--primary-text);
  flex: 1 1 auto;
}

.input__group > input {
  outline: var(--secondary-text) solid 1px;
}

.input__multigroup {
  display: flex;
}

.input__multigroup > label {
  flex: 1 1 auto;
  padding: 0 1rem;
}

.input__multigroup {
  margin: 1rem;
}

.input__group--simple {
  padding: 1rem;
}

.input__group--simple > label {
  flex: 1 1 auto;
  padding: 0 1rem;
}

.input__group--simple > input {
  flex: 0;
}

select option {
  background: var(--input-background);
  color: var(--primary-text);
  line-height: 2;
}

/* TOOLBAR */
.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.7rem 1.3rem;
  box-shadow: 0 1px 8px -2px var(--primary-text);
  z-index: 50;
  position: fixed;
  background: var(--backgraund);
  top: 0;
  left: 0;
}

.toolbar__logo {
  height: var(--size-icon);
}

.toolbar * {
  cursor: pointer;
}

/* DRAWER */
.drawer {
  max-width: 300px;
  width: 70vw;
  height: 95vh;
  padding: 1rem;
  position: fixed;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
  background: var(--backgraund);
}

.drawer--hide {
  transform: translateX(-70vw);
}

[class^="drawer__"] {
  align-items: stretch;
}

.drawer__logo {
  width: 100px;
  margin: 50px auto;
}

.drawer__menu,
mat-sidenav.drawer__menu {
  padding: 0;
}

.drawer__actions * {
  width: 100%;
  margin: 0.5rem 0;
}

.menu__item {
  list-style: none;
  width: 100%;
}

.menu__button {
  width: 100%;
  line-height: 2;
  padding: 0 0.5rem;
}

.content {
  background: tomato;
}

/* HOME GRID */
.home__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.home__item {
  position: relative;
  cursor: pointer;
}

.home__item:hover > .item__image::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.home__item .item__description {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 5;
}

.home__item:hover .item__name,
.home__item:hover .item__price {
  color: var(--backgraund);
}

.home__item .item__description p:first-child {
  border-top: 2px solid var(--accent-color);
}

.home__item > .item__image img {
  width: 100%;
}

/* SHOW GRID */
.store__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 1.5rem;
}

.store__item {
  display: grid;
  grid-template-areas:
    "image"
    "footer"
    "action";
  justify-items: stretch;
  grid-gap: 1rem;
}

.store__item .item__description p:first-child {
  border-top: 2px solid var(--accent-color);
}

.store__item > .item__image img {
  width: 100%;
}

.store__item .text__description--secondary {
  height: 150px;
  overflow: hidden;
}

.item__image {
  grid-area: image;
  height: 275px;
  overflow: hidden;
}

.item__footer {
  grid-area: footer;
}

.item__footer .item__title {
  display: flex;
}

.item__title p:first-child {
  flex: 1 1 auto;
}

.item__action {
  grid-area: action;
  justify-self: end;
}

.item__list {
  grid-template-areas:
    "image footer"
    "image action";
}

.item__list .item__image {
  place-self: center;
  max-width: 200px;
}

.item__list .item__description {
  display: none;
  width: 55vw;
}

/* PRODUCT DETAIL */
.product__item {
  display: grid;
  grid-template-areas:
    "header"
    "description"
    "action";
  padding: 1rem;
  grid-gap: 1rem;
}

.product__header {
  grid-area: header;
}
.product__description {
  grid-area: description;
}
.product__action {
  grid-area: action;
}

.product__header {
  margin-bottom: 2rem;
}

.product__header > .header__image img {
  width: 100%;
  margin-bottom: 2rem;
}

.product__header .header__title p {
  text-align: right;
}

.product__description {
  color: var(--primary-text);
  margin-bottom: 2rem;
}

.product__action .input__group {
  width: 60%;
  margin-bottom: 2rem;
}

.product__action button {
  width: 100%;
}

/* CART */
.list__container {
  margin: 1rem;
}

.list__container > h1 {
  margin: 2rem 0;
}

.table {
  width: 100%;
}

.table .header {
  background: var(--input-background);
  color: var(--primary-text);
}

.table .header th {
  padding: 1rem 0.3rem;
}

.table .body {
  color: var(--primary-text);
}

.table .body td {
  padding: 1rem 0.3rem;
  text-align: center;
}

.table .body img {
  height: 2rem;
}

.card__total {
  padding: 1rem;
  margin: 1rem;
  background: var(--input-background);
}

.card__total > div {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--primary-text);
}

.card__total button {
  width: 100%;
}

/* Dasboard container */
.grid__container {
  display: grid;
  grid-gap: 1rem;
}

.grid__item {
}

/* TABLET SCREEN */
@media screen and (min-width: 450px) {
  .form__container {
    width: 60vw;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .store__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .store__list {
    grid-template-columns: 1fr;
  }

  .item__list .item__description {
    display: block;
  }

  .card__total {
    width: 60%;
    margin: auto;
  }

  /* Dasboard container */
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__container1 {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* LAPTOP SCREEN */
@media screen and (min-width: 800px) {
  .form__container {
    width: 40vw;
  }

  .home__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .product__item {
    grid-template-areas:
      "header header description"
      "header header action";
  }

  .table {
    width: 80%;
    margin: auto;
  }

  .card__total {
    width: 40%;
    margin: auto;
  }

  .list__container > h1 {
    padding-left: 10%;
  }

  .store__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .store__list {
    grid-template-columns: 1fr;
  }

  .item__list {
    grid-template-areas:
      "image footer"
      "image action";
  }

  .item__list .item__image {
    place-self: center;
  }

  .item__list .item__description {
    display: block;
    width: 40vw;
  }

  /* Dasboard container */
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
