.spacer {
  flex: 1 1 auto;
}

.nav-item__title {
  display: none;
}

.dropdown-menu {
  transform: translate3d(-130px, 30px, 0) !important;
}

.search__button {
  display: inline-block;
}

.search__box {
  max-width: 75px;
  display: none;
  background: var(--input-background);
  border: 1px solid var(--accent-color) !important;
  border: none;
}

.search__box--visible {
  display: inline-block;
}

@media screen and (min-width: 430px) {
  .search__box {
    max-width: 150px;
  }
  .dropdown .nav-item__title {
    display: inline-block;
  }

  .dropdown-menu {
    transform: translate3d(-60px, 30px, 0) !important;
  }
}

/* 
@media screen and (min-width: 450px) {
  .tool
  {
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .tool
  {
    width: 1300px;
  }
} */
