<div class="toolbar">
  <a class="navbar-brand" href="#">
    <img
      class="toolbar__logo"
      src="https://firebasestorage.googleapis.com/v0/b/analisis1-usac.appspot.com/o/Iconos%2Flogo_darker_2.svg?alt=media&token=479ecdf2-9a00-4f29-ab9f-60fbfa1f6ab0"
      alt="logo_darker"
    />
  </a>
  <div class="burgerMenu" (click)="toggleEmit()">
    <span
      class="toolbar__icon iconify"
      data-inline="false"
      data-icon="bx:bx-menu"
    ></span>
  </div>
  <span class="spacer"></span>
  <div class="nav-item dropdown" style="margin-left: 15px">
    <div
      class="button__flatter--primary dropdown-toggle"
      role="button"
      id="dropdownMenu"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="nav-item__title">Usuario</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
    </div>
  </div>
</div>
