<mat-toolbar>
  <a class="navbar-brand" href="#">
    <img
      class="toolbar__logo"
      src="../../../assets/image/logo_darker_2.svg"
      alt="logo_darker"
    />
  </a>
  <div class="burgerMenu" (click)="toggleEmit()">
    <span
      class="toolbar__icon iconify"
      data-inline="false"
      data-icon="bx:bx-menu"
    ></span>
  </div>

  <span class="example-spacer"></span>
  <div class="nav-item dropdown" style="margin-left: 15px;">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <button class="dropdown-item" (click)="LogoutAdmin()">Logout</button>
    </div>
  </div>
</mat-toolbar>

