<div class="container">
  <h1 class="text-center">Lista de productos</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <app-producto></app-producto>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-8">
        <app-lista-productos></app-lista-productos>
      </div>
    </div>
  </div>
</div>
