<div class="center-form">
  <div class="form-structor">
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    <ng-template #dangerTpl>
      <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"/></svg>
      {{errorDescription}}
    </ng-template>
    <div class="signup">
      <h2 class="form-title" id="signup"><span style="color: black">or</span>Sign up</h2>
      <div class="form-holder">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <label style="color: black; font-size: 13px; font-weight: bold;">Email</label>
            <input type="email" matInput [formControl]="emailFormControl" >
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <label style="color: black; font-size: 13px; font-weight: bold;">Username</label>
            <input type="text" matInput [formControl]="userFormControl" >
            <mat-error *ngIf="userFormControl.hasError('email') && !userFormControl.hasError('required')">
              Please enter a valid Username
            </mat-error>
            <mat-error *ngIf="userFormControl.hasError('required')">
              User is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <label style="color: black; font-size: 13px; font-weight: bold;">Password</label>
            <input type="password" matInput [formControl]="pwdFormControl" >
            <mat-error *ngIf="!pwdFormControl.hasError('password') && !pwdFormControl.hasError('required')">
              Ingresa una contraseña entre <strong>6</strong> y <strong>8</strong> caracteres.
            </mat-error>
            <mat-error *ngIf="pwdFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <button class="submit-btn" (click)="SignUp(dangerTpl)">
        Registrar Usuario
      </button>
    </div>
    <div class="login slide-up">
      <div class="center">
        <h2 class="form-title" id="login"><span style="color: #3367D6">or</span>Log in</h2>
        <div class="form-holder">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <label style="color: black; font-size: 13px; font-weight: bold;">Email</label>
              <input type="email" matInput [formControl]="emailFormControl1" >
              <mat-error *ngIf="emailFormControl1.hasError('email') && !emailFormControl1.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl1.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <label style="color: black; font-size: 13px; font-weight: bold;">Password</label>
              <input type="password" matInput [formControl]="pwdFormControl1" >
              <mat-error *ngIf="!pwdFormControl1.hasError('password') && !pwdFormControl1.hasError('required')">
                Contraseña <strong>invalida</strong>
              </mat-error>
              <mat-error *ngIf="pwdFormControl1.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
          <span (click)="open(content,dangerTpl)">Olvidaste tu contraseña?</span>
        </div>
        <button class="submit-btn" (click)="SignIn(dangerTpl)">
          Iniciar Sesion
        </button>
        <div class='g-sign-in-button' (click)="sigingoogle(dangerTpl)">
          <div class=content-wrapper>
            <div class='logo-wrapper'>
              <img src='https://developers.google.com/identity/images/g-logo.png' alt="Sign in with Google">
            </div>
            <span class='text-container'>
              <span>Log in with Google</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-holder">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <label style="color: black; font-size: 13px; font-weight: bold;">Email</label>
          <input type="email" matInput [formControl]="emailFormControl2" >
          <mat-error *ngIf="emailFormControl2.hasError('email') && !emailFormControl2.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl2.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Recuperar Contraseña</button>
  </div>
</ng-template>
