<div class="card">
  <div class="card-body">
    <h3 class="text-center">Productos en la lista</h3>
    <div class="table-responsive">
      <div>
        <br />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Precio</th>
              <th>Inventario</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let producto of listaProductos">
              <td>{{ producto.id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.inventario }}</td>
              <td>
                <button
                  class="button__linked--accent"
                  (click)="editar(producto)"
                >
                  <span
                    class="iconify"
                    data-icon="bx:bxs-edit-alt"
                    data-inline="false"
                  ></span>
                </button>
              </td>
              <td>
                <button
                  class="button__linked--warm"
                  (click)="eliminar(producto.id)"
                >
                  <span class="iconify" data-icon="fluent:delete-16-filled" data-inline="false"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
